<!DOCTYPE html>
<html lang="en" >
  <head>
   
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc.5/docs.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/styles.css"/>
    <style>
      .inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    background-color: purple;
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

    
    <script>
    angular
  .module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
  .controller('DemoCtrl', function($scope) {
    $scope.user = {
      name: 'John Doe',
      email: '',
      phone: '',
      dependant: 'Dependants Under 18',
      loan: 18500
    };
    $scope.dependants = ('Dependants 1 2 3 4 5 6 7 8 9 10').split(' ').map(function(dependant) {
      return {abbrev: dependant};
    });
    $scope.items = [0, 1, 2, 3, 4, 5, 6, 7];
      $scope.selectedItem;
      $scope.getSelectedText = function() {
        if ($scope.selectedItem !== undefined) {
          if($scope.selectedItem === 1){
            return   $scope.selectedItem + " dependant";
          }else{
            return   $scope.selectedItem + " dependants";
          }
        } else {
          return "Dependants Under 18";
        }
      };
  });

    </script>
  </head>
  <body >
  <md-toolbar>    
      <h1>Chill MONEY</h1>
    </md-toolbar>
  <div layout="row" layout-wrap>
    <div >
      <div id="loanForm" ng-controller="DemoCtrl" layout="row" layout-xs="column" layout-align="center center" ng-cloak="" class="inputdemoIcons" ng-app="MyApp">
        <br>
        <md-content   class="md-no-momentum">
        <h1>Personal Loans Made Simple</h1>
        <h4 class="title-description">How much would you like to borrow?</h4>
          <md-input-container flex="33" class="md-icon-float  md-block">
            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
            <input ng-model="user.loan" type="number" step="0.01" aria-controls="loan-slider">
          </md-input-container>
          <md-slider-container>      
            <md-slider flex min="1" max="60000" ng-model="user.loan" aria-label="slider" id="loan-slider">
            </md-slider>     
          </md-slider-container>

          <h1>What Comes In</h1>
          <h4>Let us know about your income...?</h4>
          <md-input-container  class="md-icon-float  md-block">
            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
            <input ng-model="user.salary" type="number" min="1" step="0"  placeholder="Your Salary">
          </md-input-container>


         <!--  <md-input-container class="md-block" flex-gt-sm>
            <md-select ng-model="user.dependant">
              <md-option ng-repeat=" dependant in dependants" value="{{dependant.abbrev}}" placeholder="Dependants Under 18">
                {{dependant.abbrev}}
              </md-option>
            </md-select>
          </md-input-container> -->

          <md-input-container class="md-block">
            <label>Dependants</label>
            <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
              <md-optgroup label="Dependants">
                <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>


          <h1>What Goes Out</h1>
          <h4>Fill us in on your monthly expenses...</h4>
          <md-input-container  class="md-icon-float  md-block">
            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
            <input ng-model="user.rent" type="number" min="1" step="0"  placeholder="Monthly Rent / Mortage Payments">
          </md-input-container>
          <md-input-container  class="md-icon-float  md-block">
            <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
            <input ng-model="user.otherpayments" type="number" min="1" step="0"  placeholder="Other Monthly Loan Repayments">
          </md-input-container>

          <h1>Getting in touch</h1>
          <h4>How should we contact you?</h4>
           <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="user.email" type="email" placeholder="Email Address" ng-required="true">
          </md-input-container>
          
          <md-input-container md-no-float="" class="md-block">
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="user.phone" type="text" placeholder="Phone Number">
          </md-input-container>
          
        </md-content>
    </div>
  </div>
</div>

   
    
  </body>
</html>