<!DOCTYPE html>
<html lang="en" >
  <head>
   
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc.5/docs.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/styles.css"/>
    <style>
      .inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    background-color: purple;
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

    
    <script>
    angular
  .module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
  .controller('DemoCtrl', function($scope) {
    $scope.user = {
      name: 'John Doe',
      email: '',
      phone: '',
      dependant: 'Dependants Under 18',
      loan: 18500
    };

    $scope.dependants = ('Dependants 1 2 3 4 5 6 7 8 9 10').split(' ').map(function(dependant) {
      return {abbrev: dependant};
    });
    $scope.items = [0, 1, 2, 3, 4, 5, 6, 7];
    $scope.selectedItem;
    $scope.getSelectedText = function() {
      if ($scope.selectedItem !== undefined) {
        if($scope.selectedItem === 1){
          return   $scope.selectedItem + " dependant";
        }else{
          return   $scope.selectedItem + " dependants";
        }
      } else {
        return "Dependants Under 18";
      }
    };
    $scope.myForm='hide';

    $scope.applyNow = function() {
      $scope.myForm = !$scope.myForm;
      $scope.myLoan = !$scope.myLoan;
      console.log($scope.user);        
    };

    $scope.whatComesIn = function()
    {
      $scope.user.dependant = $scope.selectedItem;
      console.log($scope.user); 
      $scope.nextTab();
    }
    $scope.whatGoesOut = function()
    {
      console.log($scope.user); 
      $scope.nextTab();
    }
    $scope.getInTouch = function () {
      console.log($scope.user); 
      // $scope.nextTab();
    }

    $scope.max = 2;
    $scope.min = 0;
    $scope.selectedTab = 0;
    $scope.nextTab = function() {
    var Tab = ($scope.selectedTab == $scope.max) ? 0 : $scope.selectedTab + 1;
    $scope.selectedTab = Tab;
    };

    $scope.prevTab = function() {
    var Tab = ($scope.selectedTab == $scope.min) ? 0 : $scope.selectedTab - 1;
    $scope.selectedTab = Tab;
    };

  });

    </script>
  </head>
  <body >

  <!-- Header -->
  <md-toolbar>    
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Icon">
        
        
      </md-button>

      <h1>
        <span>Chill MONEY</span>
      </h1>

      

    </div>
  </md-toolbar>



  <!-- Header end -->

  <div>

    <div >

      <div id="loanForm" ng-controller="DemoCtrl" layout="column" layout-xs="column" layout-align="center center" ng-cloak="" class="inputdemoIcons" ng-app="MyApp">

        <br>
        <div ng-hide="myLoan" layout="column" layout-xs="column" layout-align="center center" >
         <div flex="grow"><h1>Personal Loans Made Simple</h1></div>
         
            
    <!-- first -->
              
              <md-content    class="" >
                <div layout="row" class="layoutForm" layout-wrap flex="33">
                  <div flex="100">
                    <h4 class="title-description">How much would you like to borrow?</h4>
                  </div>
                  <div flex="10">
                    <img src="icons/euro-symbol.png">
                  </div>
                  <div flex="80">
                     <section class="" >
                    
                    <md-input-container class=""  class="  ">

                      <input  ng-model="user.loan" type="number" step="100" aria-controls="loan-slider" aria-label="slider" >
                    </md-input-container>
                    
                  </section> 
                  </div>
                  <div flex="10">
                    + -
                  </div>
                  <div flex="100">
                    <md-slider-container>      
                    <md-slider  max="50000" ng-model="user.loan" aria-label="slider" id="loan-slider">
                    </md-slider>     
                  </md-slider-container>
                  </div>
                </div>    
              </md-content>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="applyNow()">APPLY NOW!</md-button>
       </div>     
  <!-- Second -->
     <md-tabs md-dynamic-height md-selected="selectedTab"  md-align-tabs="bottom" flex="33" ng-hide="myForm" layout-align="center center">
          <md-tab label="1" ng-hide>
            <md-content class="md-padding">
            <div layout="row" class="layoutForm" layout-wrap flex="33">
              <div flex="100">
                <h1>What Comes In</h1>
              </div>
              <div flex="100">
                <h4>Let us know about your income...?</h4>
              </div>                
              <div flex="10">
                <img src="icons/euro-symbol.png">
              </div>
              <div flex="90">
                <md-input-container  class="md-icon-float  md-block">                  
                  <input ng-model="user.salary" type="number" min="1" step="0"  placeholder="Your Salary">
                </md-input-container>
              </div>
              <div flex="10">
                <img src="icons/dependants.png">
              </div>
              <div flex="90">
              <md-input-container class="md-block">
                <label>Dependants</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                  <md-optgroup label="Dependants">
                    <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
              </div>
            </div>

              <md-button  class="md-chill-button md-chill-purple-button " ng-click="applyNow()">BACK</md-button>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="whatComesIn()">CONTINUE</md-button>
            </md-content>
            
          </md-tab>

  <!-- third -->
          <md-tab label="2" ng-hide>
            <md-content class="md-padding">
             <div layout="row" class="layoutForm" layout-wrap flex="33">
              <div flex="100">
                <h1>What Goes Out</h1>
              </div>
              <div flex="100">
                <h4>Fill us in on your monthly expenses...</h4>
              </div>     
              <div flex="10">
                <img src="icons/rent.png">
              </div>
              <div flex="90">
                <md-input-container  class="md-icon-float  md-block">
                  <input ng-model="user.rent" type="number" min="1" step="0"  placeholder="Monthly Rent / Mortage Payments">
                </md-input-container>
              </div>
              <div flex="10">
                <img src="icons/credit-card.png">
              </div>
              <div flex="90">
                <md-input-container  class="md-icon-float  md-block">
                  <input ng-model="user.otherpayments" type="number" min="1" step="0"  placeholder="Other Monthly Loan Repayments">
                </md-input-container>
              </div>
            </div>
              <md-button  class="md-chill-button md-chill-purple-button " ng-click="prevTab()">BACK</md-button>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="whatGoesOut()">CONTINUE</md-button>
            </md-content>
          </md-tab>
  <!-- fourth -->
          <md-tab label="3" ng-hide>
            <md-content class="md-padding">
            <div layout="row" class="layoutForm" layout-wrap flex="33">
             <div flex="100">
                <h1>Getting in touch</h1>
              </div>
              <div flex="100">
                <h4>How should we contact you?</h4>
              </div>   
              <div flex="10">
                <img src="icons/email.png">
              </div>
              <div flex="90">              
               <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <input ng-model="user.email" type="email" placeholder="Email Address" ng-required="true">
               </md-input-container>
              </div>
              <div flex="10">
                <img src="icons/number.png">
              </div>
              <div flex="90">
                <md-input-container md-no-float="" class="md-block">
                  <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                  <input ng-model="user.phone" type="text" placeholder="Phone Number">
                </md-input-container>
                </div>
              <md-button  class="md-chill-button md-chill-purple-button " ng-click="prevTab()">BACK</md-button>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="getInTouch()">CONTINUE</md-button>
            </md-content>
          </md-tab>
        <!-- end   -->
            </md-content>
          </md-tabs>
      </div>
    </div>
  </div>

   
    
  </body>
</html>