<!DOCTYPE html>
<html lang="en" >
  <head>
   <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc.5/docs.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/styles.css"/>
    <style>
      .inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    background-color: purple;
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

    
    <script>
    angular
  .module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])
  .controller('DemoCtrl', function($scope, $mdDialog) {
    $scope.user = {
      name: 'John Doe',
      email: '',
      phone: '',
      dependant: 'Dependants Under 18',
      loan: 18500,
      minTerm: 1,
      maxTerm: 3,
    };

    $scope.dependants = ('Dependants 1 2 3 4 5 6 7 8 9 10').split(' ').map(function(dependant) {
      return {abbrev: dependant};
    });

    $scope.items = [0, 1, 2, 3, 4, 5, 6, 7];
    $scope.selectedItem;
    $scope.getSelectedText = function() {
      if ($scope.selectedItem !== undefined) {
        if($scope.selectedItem === 1){
          return   $scope.selectedItem + " dependant";
        }else{
          return   $scope.selectedItem + " dependants";
        }
      } else {
        return "Dependants Under 18";
      }
    };
    $scope.myForm ='hide';
    $scope.successApp ='hide';

    //Minimum and Maximum Loan Terms by Loan value
    $scope.calculateTerms = function(user){
      var loanValue = $scope.user.loan;
      if(loanValue>=1500 && loanValue<=4999){ 
        $scope.user.minTerm = 1; 
        $scope.user.maxTerm = 3; 
        $scope.user.rate = 12.5;
      }else if(loanValue>=5000 && loanValue<=14999){ 
        $scope.user.minTerm = 1; 
        $scope.user.maxTerm = 5;
        $scope.user.rate = 10.9;
      }else if(loanValue>=15000 && loanValue<=60000){ 
        $scope.user.minTerm = 1; 
        $scope.user.maxTerm = 7;
        $scope.user.rate = 7.5;
      }
    }
    // Background Calculations for affordability

    // Income
    $scope.childBenefit = function(dependants){
      return (dependants*140);
    }
    $scope.totalIncome = function(user){
      return user["salary"] + user["childBenefit"];
    }

    // Expenditure
    $scope.livingExpenses = function(user){
      var individual = 1400;
      var child = 250;
      return individual + (child*user["dependant"]);
    }
    $scope.repayments = function(user){
      return (user["rent"] + user["otherpayments"]);
    }

    // Net Disposable Income 
    $scope.netDisposableIncome = function(user){
      return (user.totalIncome - (user.livingExpenses + user.repayments));
    }

    // Monthly Repayment
    $scope.monthlyPayment = function(user){
      var decimalRate = ((user.rate / 100)/12);
      var months = (user.maxTerm * 12);

      // console.log("decimal rate:" + decimalRate);
      // console.log("months:" + months);

      return ( decimalRate + (decimalRate / ( Math.pow((1+decimalRate), months) -1)) ) * user.loan;
    }

    $scope.applyNow = function() {
      if($scope.user.loan < 1500 || $scope.user.loan > 60000){

        $scope.showAlert("","Please, select a new value","the range for loan aplication is between €1,500 to €60,000");
        $scope.user.loan = 30000;
      }else{
        $scope.myForm = !$scope.myForm;
        $scope.myLoan = !$scope.myLoan;
        $scope.calculateTerms();
        console.log($scope.user); 
      }
      
    };

    $scope.whatComesIn = function()
    {
      
      $scope.user.dependant = $scope.selectedItem;
      $scope.user.childBenefit = $scope.childBenefit($scope.user.dependant);
      $scope.user.totalIncome = $scope.totalIncome($scope.user);
      console.log($scope.user); 
      $scope.nextTab();
      
    };
    $scope.whatGoesOut = function()
    {
      $scope.user.livingExpenses = $scope.livingExpenses($scope.user);
      $scope.user.repayments = $scope.repayments($scope.user);
      $scope.user.NDI = $scope.netDisposableIncome($scope.user);
      $scope.user.monthlyPayment = $scope.monthlyPayment($scope.user);
      console.log($scope.user); 
      $scope.nextTab();
    };
    $scope.getInTouch = function () {
      console.log($scope.user); 
      

      console.log("Loan requested: €" + $scope.user.loan);
      console.log("Max Term Allowed (months): " + ($scope.user.maxTerm * 12 ));
      console.log("Monthly Repayment: " + $scope.user.monthlyPayment);
      console.log("Total Income: €" + $scope.user.totalIncome);
      console.log($scope.user.NDI);
      $scope.myForm = !$scope.myForm;
      $scope.successApp = !$scope.successApp;
      

      // $scope.nextTab();
    };

    $scope.max = 2;
    $scope.min = 0;
    $scope.selectedTab = 0;
    $scope.nextTab = function() {
    var Tab = ($scope.selectedTab == $scope.max) ? 0 : $scope.selectedTab + 1;
    $scope.selectedTab = Tab;
    };

    $scope.prevTab = function() {
    var Tab = ($scope.selectedTab == $scope.min) ? 0 : $scope.selectedTab - 1;
    $scope.selectedTab = Tab;
    };

    $scope.customFullscreen = false;
    $scope.showAlert = function(ev, title, content) {
    // Appending dialog to document.body to cover sidenav in docs app
    // Modal dialogs should fully cover application
    // to prevent interaction outside of dialog
    $mdDialog.show(
      $mdDialog.alert()
        .parent(angular.element(document.querySelector('#popupContainer')))
        .clickOutsideToClose(true)
        .title(title)
        .textContent(content)
        .ariaLabel('Alert Dialog Demo')
        .ok('Got it!')
        .targetEvent(ev)
    );};

    $scope.imagePath = 'images/success.png';


  }).config(function($mdThemingProvider) {
    $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
    $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
    $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
    $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();
});

    </script>
  </head>
  <body >

  <!-- Header -->
  <md-toolbar>    
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Icon">        
      </md-button>
      <h1>
        <span>Chill MONEY</span>
      </h1>
    </div>
  </md-toolbar>



  <!-- Header end -->

  <div>

    <div >

      <div id="loanForm" ng-controller="DemoCtrl" layout="column" layout-xs="column" layout-align="center center" ng-cloak="" class="inputdemoIcons" ng-app="MyApp">
        <form name="elsaForm">
        <br>
        <div ng-hide="myLoan" layout="column" layout-xs="column" layout-align="center center" >
         <div flex="grow"><h1>Personal Loans Made Simple</h1></div>
         
            
    <!-- first -->
              
              <md-content    class="" >

                <div layout="row" class="layoutForm" layout-wrap flex="33">
                  <div flex="100">
                    <h4 class="title-description">How much would you like to borrow?</h4>
                  </div>
                  <div flex="10">
                    <div class="input-icon input-icon-left">
                      <img src="icons/euro-symbol.png">
                    </div>
                  </div>
                  <div flex="80">
                    <section class="" >
                      <md-input-container class="md-chill-loan-input" >
                        <input id="userLoan"  ng-model="user.loan"  type="number" step="100" aria-controls="loan-slider" aria-label="slider" ><label for="userLoan" >{{user.loan | number }}</label>
                      </md-input-container>
                    </section> 
                  </div>
                  <div flex="10">
                    <div class="input-icon input-icon-right">
                      <md-button ng-model="user.loan"  ng-click="user.loan = user.loan + 100">+</md-button>
                      <span class="underline"> </span>
                      <md-button ng-model="user.loan" ng-click="user.loan = user.loan - 100">-</md-button>
                    </div>
                  </div>
                  <div flex="80"  flex-offset="10">
                    <md-slider-container>      
                    <md-slider  max="60000" min="1500" ng-model="user.loan" aria-label="slider" step="100" id="loan-slider">
                    </md-slider>     
                  </md-slider-container>
                  </div>
                </div>    
              </md-content>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="applyNow()">APPLY NOW!</md-button>
       </div>     
  <!-- Second -->
     <md-tabs md-dynamic-height md-selected="selectedTab"  md-align-tabs="bottom" flex="33" ng-hide="myForm" layout-align="center center">
          <md-tab label="1" ng-hide>
            <md-content class="md-padding">
            <div layout="row" class="layoutForm" layout-wrap flex="33">
              <div flex="100">
                <h1>What Comes In</h1>
              </div>
              <div flex="100">
                <h4>Let us know about your income...?</h4>
              </div>                
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/euro-symbol.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input md-block">                  
                    <input required name="salary"  ng-model="user.salary" type="number" min="1" step="0"  placeholder="Your Salary">
                     <div ng-messages="elsaForm.salary.$error">
                      <div ng-message="required">Your salary is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/dependants.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container class="md-chill-input md-block">
                    <label>Dependants</label>
                    <md-select name="depend" ng-model="selectedItem" md-selected-text="getSelectedText()">
                      <md-optgroup label="Dependants">
                        <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                      </md-optgroup>
                    </md-select>
                    <div ng-messages="elsaForm.depend.$error">
                      <div ng-message="required">Salary is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </div>

              <md-button  class="md-chill-button md-chill-purple-button " ng-click="applyNow()">BACK</md-button>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="whatComesIn()">CONTINUE</md-button>
            </md-content>
            
          </md-tab>

  <!-- third -->
          <md-tab label="2" ng-hide>
            <md-content class="md-padding">
             <div layout="row" class="layoutForm" layout-wrap flex="33">
              <div flex="100">
                <h1>What Goes Out</h1>
              </div>
              <div flex="100">
                <h4>Fill us in on your monthly expenses...</h4>
              </div>     
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/rent.png">
                </div>
                
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input  md-block">
                    <input ng-model="user.rent" type="number" min="1" step="0"  placeholder="Monthly Rent / Mortage Payments" ng-required="true">
                  </md-input-container>
                  </div>
              </div>
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/credit-card.png">
                </div>
                
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input md-block">
                    <input ng-model="user.otherpayments" type="number" min="1" step="0"  placeholder="Other Monthly Loan Repayments" ng-required="true">
                  </md-input-container>
                  </div>
              </div>
            </div>
              <md-button  class="md-chill-button md-chill-purple-button " ng-click="prevTab()">BACK</md-button>
              <md-button  class="md-chill-button md-chill-green-button " ng-click="whatGoesOut()">CONTINUE</md-button>
            </md-content>
          </md-tab>
  <!-- fourth -->
          <md-tab label="3" ng-hide>
            <md-content class="md-padding">
              <div layout="row" class="layoutForm" layout-wrap flex="33">
                <div flex="100">
                  <h1>Getting in touch</h1>
                </div>
                <div flex="100">
                  <h4>How should we contact you?</h4>
                </div>   
                <div flex="10">
                  <div class="input-icon input-icon-left">
                    <img src="icons/email.png">
                  </div>
                </div>
                <div flex="90"> 
                  <div class="chill-input-container">             
                    <md-input-container class="md-chill-input md-block">
                  <!-- Use floating placeholder instead of label -->
                      <input ng-model="user.email" type="email" placeholder="Email Address" ng-required="true">
                    </md-input-container>
                  </div>
                </div>
                <div flex="10">
                  <div class="input-icon input-icon-left">
                    <img src="icons/number.png">
                  </div>             
                </div>
                <div flex="90">
                  <div class="chill-input-container">  
                    <md-input-container  class="md-chill-input md-block">
                      <input ng-model="user.phone" type="text" placeholder="Phone Number" ng-required="true">
                    </md-input-container>
                  </div>
                </div>
                <md-button  class="md-chill-button md-chill-purple-button " ng-click="prevTab()">BACK</md-button>
                <md-button  class="md-chill-button md-chill-green-button " ng-click="getInTouch()">GET APPROVED</md-button>
              </div>
            </md-content>
          </md-tab>
        <!-- end   -->
            </md-content>
          </md-tabs>
          <!-- SUCCESS -->
          <div ng-hide="successApp" layout="column" layout-xs="column" layout-align="center center" >
            <div flex="100" layout-align="center center">

              <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
                
                
                <md-card-content layout="column" layout-align="space-between">
                  
                  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                  <md-card-actions layout="row" layout-align="space-between cente">
                    <md-button class="md-icon-button" aria-label="Favorite">
                      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                      <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                  </md-card-actions>
                </md-card-content>
                <md-card-title>
                  <md-card-title-text>                                       
                    <md-divider ng-if="!$last"></md-divider>
               
                    <span class="md-subhead">Loan requested</span>
                    <span class="md-headline">{{user.loan | currency:'€' }}</span>

                    <md-divider ng-if="!$last"></md-divider>                   
                                
                    <span class="md-subhead">Max Term Allowed (months)</span>
                    <span class="md-headline">{{user.maxTerm * 12 }}</span>

                    <md-divider ng-if="!$last"></md-divider>
                 
                    <span class="md-subhead">Monthly Repayment</span>
                    <span class="md-headline">{{user.monthlyPayment | currency:'€' }}</span>
                    
                    <md-divider ng-if="!$last"></md-divider>
                    
                    <span class="md-subhead">Available Income</span>
                    <span class="md-headline">{{user.NDI | currency:'€' }}</span>
                  
               
             
                  </md-card-title-text>
                </md-card-title>
              </md-card>

             
          </form>
      </div>
    </div>
  </div>

   
    
  </body>
</html>