<!DOCTYPE html>
<html lang="en" >
  <head>
   <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc.5/docs.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="css/styles.css"/>
    <style>
      .inputdemoIcons {
  /*
.right-icon {
  position: absolute;
  top: 4px;
  right: 2px;
  left: auto;
  margin-top: 0;
}
*/ }
  .inputdemoIcons .inputIconDemo {
    background-color: purple;
    min-height: 48px; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>

    <script src="js/scripts.js"></script>
  </head>
  <body >

  <!-- Header -->
  <md-toolbar>    
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Icon">        
      </md-button>
      <h1>
        <span>Chill MONEY</span>
      </h1>
    </div>
  </md-toolbar>



  <!-- Header end -->

  <div>

    <div >

      <div id="loanForm" ng-controller="DemoCtrl" layout="column" layout-xs="column" layout-align="center center" ng-cloak="" class="inputdemoIcons" ng-app="MyApp">
        <form name="elsaForm">
        <br>
        <div ng-hide="myLoan" layout="column" layout-xs="column" layout-align="center center" >
          <div flex>
            <h1>Personal Loans Made Simple<span class="green">.</span></h1>
          </div>
    <!-- first -->
              <md-content class="md-padding" >
                <div layout="row" class="layoutForm" layout-align="center center" layout-wrap flex="33">
                  <div flex="100">
                    <h4 class="title-description">How much would you like to borrow?</h4>
                  </div>
                  <div flex="10">
                    <div class="input-icon input-icon-left">
                      <img src="icons/euro-symbol.png">
                    </div>
                  </div>
                  <div flex="80">
                    <section class="" >
                      <md-input-container class="md-chill-loan-input" >
                        <input id="userLoan"  ng-model="user.loan" format="number"  type="text" step="100" aria-controls="loan-slider" aria-label="slider" ><label for="userLoan" >{{user.loan | number }}</label>
                      </md-input-container>
                    </section> 
                  </div>
                  <div flex="10">
                    <div class="input-icon input-icon-right">
                      <md-button ng-model="user.loan"  ng-click="user.loan = user.loan + 100">+</md-button>
                      <span class="underline"> </span>
                      <md-button ng-model="user.loan" ng-click="user.loan = user.loan - 100">-</md-button>
                    </div>
                  </div>
                  <div flex="80">
                    <md-slider-container>      
                      <md-slider  max="60000" min="1500" ng-model="user.loan" aria-label="slider" step="100" id="loan-slider">
                      </md-slider>     
                    </md-slider-container>
                  </div>
                  <div flex="80" layout="row"       layout-align="center center">
                  <md-button  class="md-chill-button md-chill-green-button " ng-click="applyNow()">APPLY NOW!</md-button>
                </div> 
              </div>                   
              </md-content>
       </div>     
  <!-- Second -->
     <md-tabs md-dynamic-height md-selected="selectedTab"  md-align-tabs="bottom" flex="100" ng-hide="myForm" layout-align="center center">
          <md-tab label="1" ng-hide>
            <div flex="100">
              <h1>What Comes In<span class="green">.</span></h1>
            </div>
            <md-content class="md-padding" flex="33">
            <div layout="row" class="layoutForm" layout-wrap flex="33">
              
              <div flex="100">
                <h4>Let us know about your income...?</h4>
              </div>                
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/euro-symbol.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input md-block">                  
                    <input required name="salary"  ng-model="user.salary" format="number"  type="text" min="1" step="0"  placeholder="Your Salary">
                     <div ng-messages="elsaForm.salary.$error">
                      <div ng-message="required">Your salary is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/dependants.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container class="md-chill-input md-block">
                    <label>Dependants</label>
                    <md-select name="depend" ng-model="selectedItem" md-selected-text="getSelectedText()">
                      <md-optgroup label="Dependants">
                        <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                      </md-optgroup>
                    </md-select>
                    <div ng-messages="elsaForm.depend.$error">
                      <div ng-message="required">Salary is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="space-between ">
              <div >
                <md-button  class="md-chill-button  btn-back" ng-click="applyNow()">BACK</md-button>
              </div>
              <div flex="65">
                <md-button  class="md-chill-button  btn-continue" ng-click="whatComesIn()">CONTINUE</md-button>
              </div>
            </div>
              
              
            </md-content>
            
          </md-tab>

  <!-- third -->
          <md-tab label="2" ng-hide>
            <md-content class="md-padding">
             <div layout="row" class="layoutForm" layout-wrap flex="33">
              <div flex="100">
                <h1>What Goes Out<span class="green">.</span></h1>
              </div>
              <div flex="100">
                <h4>Fill us in on your monthly expenses...</h4>
              </div>     
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/rent.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input  md-block">
                    <input ng-model="user.rent" format="number"  type="text" min="1" step="0"  placeholder="Monthly Rent / Mortage Payments" ng-required="true">
                  </md-input-container>
                </div>
              </div>
              <div flex="10">
                <div class="input-icon input-icon-left">
                  <img src="icons/credit-card.png">
                </div>
              </div>
              <div flex="90">
                <div class="chill-input-container">
                  <md-input-container  class="md-chill-input md-block">
                    <input ng-model="user.otherpayments" format="number"  type="text" min="1" step="0"  placeholder="Other Monthly Loan Repayments" ng-required="true">
                  </md-input-container>
                </div>
              </div>
              <div layout="row" flex="100"  layout-align="space-between ">
                <div >
                  <md-button   class="md-chill-button btn-back" ng-click="prevTab()">BACK</md-button>
                </div>
                <div flex="65">
                  <md-button   class="md-chill-button btn-continue" ng-click="whatGoesOut()">CONTINUE</md-button>
                </div>
              </div>

              
            </div>
              
            </md-content>
          </md-tab>
  <!-- fourth -->
          <md-tab label="3" ng-hide>
          <div flex="100">
                  <h1>Getting in touch<span class="green">.</span></h1>
                </div>
            <md-content class="md-padding">
              <div layout="row" class="layoutForm" layout-wrap flex="33">
                
                <div flex="100">
                  <h4>How should we contact you?</h4>
                </div>   
                <div flex="10">
                  <div class="input-icon input-icon-left">
                    <img src="icons/email.png">
                  </div>
                </div>
                <div flex="90"> 
                  <div class="chill-input-container">             
                    <md-input-container class="md-chill-input md-block">
                  <!-- Use floating placeholder instead of label -->
                      <input ng-model="user.email" type="email" placeholder="Email Address" ng-required="true">
                    </md-input-container>
                  </div>
                </div>
                <div flex="10">
                  <div class="input-icon input-icon-left">
                    <img src="icons/number.png">
                  </div>             
                </div>
                <div flex="90">
                  <div class="chill-input-container">  
                    <md-input-container  class="md-chill-input md-block">
                      <input ng-model="user.phone" type="text" placeholder="Phone Number" ng-required="true">
                    </md-input-container>
                  </div>
                </div>
                <div layout="row" flex="100"  layout-align="space-between ">
                  <div >
                    <md-button  class="md-chill-button btn-back" ng-click="prevTab()">BACK</md-button>
                  </div>
                  <div flex="65">
                    
                    <md-button  class="md-chill-button btn-continue " ng-click="getInTouch()">GET APPROVED</md-button>
                  </div>
                </div>

                
              </div>
            </md-content>
          </md-tab>
        <!-- end   -->
            </md-content>
          </md-tabs>
          <!-- SUCCESS -->
          <div ng-hide="successApp" layout="column" layout-xs="column" layout-align="center center" >
            <div flex="100" layout-align="center center">

              <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
                
                
                <md-card-content layout="column" layout-align="space-between">
                  
                  <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                  <!-- <md-card-actions layout="row" layout-align="space-between cente">
                    <md-button class="md-icon-button" aria-label="Favorite">
                      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Settings">
                      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Share">
                      <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
                    </md-button>
                  </md-card-actions> -->
                </md-card-content>
                <md-card-title>
                  <md-card-title-text>                                       
                    <!-- <md-divider ng-if="!$last"></md-divider> -->
               
                    <span class="md-subhead">Loan requested</span>
                    <span class="md-headline">{{user.loan | currency:'€' }}</span>

                    <md-divider ng-if="!$last"></md-divider>                   
                                
                    <span class="md-subhead">Term (months)</span>
                    <span class="md-headline">{{user.maxTerm * 12 }}</span>

                    <md-divider ng-if="!$last"></md-divider>
                 
                    <span class="md-subhead">Monthly Repayment</span>
                    <span class="md-headline">{{user.monthlyPayment | currency:'€' }}</span>
                    
                    <!-- <md-divider ng-if="!$last"></md-divider>
                    
                    <span class="md-subhead">Available Income</span>
                    <span class="md-headline">{{user.NDI | currency:'€' }}</span> -->
                  
               
             
                  </md-card-title-text>
                </md-card-title>
              </md-card>

             
          </form>
      </div>
    </div>
  </div>

   
    
  </body>
</html>